---
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Suggestion from '../components/Suggestion.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chequera del Banco de la Fe">
	<main class="container">
		<Header />
		<Card />
		<Suggestion />
	</main>
</Layout>